[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher Studio
GenericName=Desktop file editor
Comment=Create and manage .desktop launchers
Categories=Utility;GTK;GNOME;
Exec=launcher_studio
Icon=fr.arnaudmichel.launcherstudio
Terminal=false
StartupNotify=true
Keywords=desktop;launcher;shortcut;editor;gnome;
